html,
body {
  width: 100px;
}

.hidden {
  display: none;
}

.button {
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1em;
  margin: 3% auto;
  padding: 4px;
  text-align: center;
}

.show:hover {
  background-color: #ccc;
}

.show {
  background-color: #999;
}

.hide {
  background-color: #ccc;
}

.hide:hover {
  background-color: #999;
}
